/*style du pied de page accueil intranet*/

.homeFooterBloc {
  padding-left: 30px;
  padding-right: 30px;
}
.footerBloc {
  width: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: lighter;
  color: black;
  font-size: 1em;
}
.footerOne {
  padding: 20px 10px;
  width: 30%;
}
.footerTwo {
  padding: 20px 10px;
  width: 30%;
}
.footerThree {
  padding: 20px 10px;
  width: 30%;
}
.footerText {
  cursor: pointer;
  padding: 5px;
}

@media screen and (max-width: 375px) and (max-width: 720px) {
  .homeFooterBloc {
    width: 100%;
    height: auto;
    padding: 0px;
    margin-top: 10px;
  }
  .footerBloc {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .footerOne,
  .footerTwo,
  .footerThree {
    width: 100%;
  }
  .footerOne {
    padding: 0;
  }
  .footerTwo {
    padding: 0;
  }
  .footerThree {
    padding: 0;
  }
  .footerText:nth-child(2) {
    margin-bottom: 0;
  }
}
