/* style desktop du header generique */
.homeLogoBloc {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}

.logo {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  border-bottom: 10px solid #8e44ad;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 920px) {
  .homeLogoBloc {
    width: 100%;
    height: auto;
  }
  .logo {
    width: auto;
    height: auto;
    border-bottom: 2px solid #8e44ad;
  }
}
