/* style de la page d'affichage des publications */

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
h1 {
  text-align: center;
}
.postBloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1000px;
}

.myProfil {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
}
.myProfilTitle {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 30px;
}
.myProfilTitle {
  text-align: center;
}
.myProfilTitle h2 {
  margin: 0;
}
.myProfilBloc {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  height: auto;
  padding: 0px 30px;
  background-color: white;
}

.profilInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 5px;
  width: 100%;
  color: gray;
}

.profilPassword {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px;
  width: 100%;
  color: gray;
}
.updatePassword {
  width: 100%;
  padding: 10px;
}
.formChangeMdp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
#currentPassword,
#newPassword {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: auto;
}
#currentPassword {
  margin-bottom: 5px;
}
.btnForm {
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#btnProfilPassword {
  border-radius: 3px;
  padding: 10px;
  width: 90%;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid #cecece;
}
#updateMdpError {
  font-size: 12px;
  color: rgb(253, 45, 1);
  text-decoration: none;
  margin: 5px 0px 5px 0px;
  padding: 0px 15px;
}
.btnChangeMdp {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid #cecece;
  border-radius: 3px;
}
.inputError {
  background-color: #ffc0c0;
}
.btnCreatePost {
  background-color: #8e44ad;
  border: 1px solid #8e44ad;
  border-radius: 3px;
  color: white;
  display: block;
  padding: 10px;
  width: 90%;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}
.adminBlocTitre {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 30px;
}
.adminBlocTitre h2 {
  margin: 0;
}
.adminBloc {
  height: 120px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.userProfilBloc {
  padding: 0px 30px;
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.btnShowUsers {
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 5px;
  margin: 10px 0px 10px 5px;
  cursor: pointer;
}
.allThePosts {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.postsTitle {
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 30px;
}
.postsTitle h2 {
  margin: 0;
}
.usersPosts {
  padding: 10px 30px;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.postsUsersInfos {
  color: gray;
}
.textMail,
.textDate {
  font-size: 14px;
}
.postsInfos {
  border-bottom: 2px solid rgba(253, 45, 1);
  padding: 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.title {
  text-align: start;
  width: auto;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}
.description {
  text-align: start;
  width: auto;
  color: #8e44ad;
}
.blocImg {
  border-radius: 5px;
  height: auto;
  width: 100%;
}
.postImg {
  border-radius: 5px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.linkBtnComment {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: lighter;
  padding-left: 0;
}
.linkBtnComment:hover {
  color: black;
}
.postComments {
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: auto;
}
.postComments:hover {
  background-color: #f7f7f7;
}

.postFooterInfos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.likeIcon {
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0px 5px 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: auto;
}
.likeIcon:hover {
  background-color: #f7f7f7;
}
.fa-thumbs-o-up {
  text-decoration: none;
  color: black;
  padding: 5px;
}
.fa-thumbs-up {
  text-decoration: none;
  color: #8e44ad;
  padding: 5px;
}
.btnDeletePost {
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0px 5px 40px;
  cursor: pointer;
}
@media screen and (min-width: 375px) and (max-width: 720px) {
  .myProfil {
    height: auto;
  }
  .myProfilBloc {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .myProfilTitle {
    padding-left: 10px;
    padding-right: 10px;
  }
  .profilInfos,
  .profilPassword {
    width: 100%;
    align-items: center;
  }
  .btnForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #btnProfilPassword {
    width: 100%;
  }
  .formChangeMdp {
    padding: 0;
  }
  .btnChangeMdp {
    width: 100%;
  }
  #updateMdpError {
    padding: 0;
  }
  .btnCreatePost {
    width: 100%;
  }
  .postsTitle {
    padding-left: 10px;
    padding-right: 10px;
  }
  .usersPosts {
    padding-left: 10px;
    padding-right: 10px;
  }
  .textMail {
    width: 50%;
  }
  .postComments,
  .likeIcon {
    background-color: #f7f7f7;
  }

  .postFooterInfos {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .likeIcon,
  .linkBtnComment {
    width: auto;
    margin: 0;
    align-items: center;
  }
  .postDelete {
    width: 100%;
  }
  .btnDeletePost {
    margin: 10px 0 0 0;
    width: 100%;
  }
  .userProfilBloc {
    justify-content: center;
    height: auto;
  }
}
